header {
    background-color:rgba(241, 241, 241, 0.849);
    /*height: 23em; This worked for the correct height*/
   /* height:368px;*/
    height:auto;
   
    margin-top: 0;
    padding-top:0;


}

body {
    background-image: url(../img/tirebackground.jpg);
    background-color: #333333;
}

article {
    font-family: 'Lexend Zetta', sans-serif;
    color:white;
    font-size:1.5em;
    text-align:center;
    /*stuggling to get the formatting*/
    max-width:1000px;
    margin: 50 200;

}

hr {
    width: 100%;
    border-color:black;
    border-style:solid;
    height: 2px;
    background-color:red;
    display: block;
    margin-top:-75px;    
}
/*This is for the header shown on every page. Bold, Strong Font types */
#logoName {
    font-family: 'Michroma', sans-serif;
    letter-spacing:20px;
    font-size:128px;
    margin-top: 0;
    padding-top:0;
    color: transparent;    
    line-height: .83;
    height:2.8em;
    /*animated background for header text*/
    background-image:url(https://media.giphy.com/media/AYO7okX03Jbq/giphy.gif);
    background-size: 20em;
    background-position:center;
    -webkit-background-clip:text;
    width:35%;
}
/*Original code using em but can't get it to work with the header */
/*#logoName {
    font-family: 'Michroma', sans-serif;
    font-size: 8em;
    color: transparent;    
    line-height: .83;
    height:2.8em;
    text-align: left; 
    vertical-align:center;
    position:relative;
    width:33.3%;      
    /*background-image:url(https://media.giphy.com/media/AYO7okX03Jbq/giphy.gif);
    background-size: 20em;
    background-position:center;
    -webkit-background-clip:text;
}
*/
/* bottom right header placement*/
#logoSub {
    font-family: 'Michroma', sans-serif;
    font-size: 28px;
    padding-right:5px;
    width:40%;
    position:relative;
    float:right;
    top:-155px;
    text-align:right;
}
    
    /*Original code with %s*/
    /*position: relative;
    text-align:right;
    /*struggling to get formatting*/
    /*float:right;
    width:40%;
    top:-40%;
    position: relative;
    float:right;
    outline: 3px solid black;
}*/

form {
    font-family: 'Lexend Zetta', sans-serif;
    width:33.3%;
    text-align:center;
    background-color:red;
    display:inline-block;
    outline: 3px solid orange;
}
label {
    font-family: 'Lexend Zetta'sans-serif;
    color:black;
    outline: 3px solid white;
}

input {
    background-color:black;
    outline:2px solid black;
    color:white;
    outline: 3px solid red;

}

address{
    width:33.3%;
    position:relative;
    float: left;
    color:white;
    font-family: calibri;
    font-style:normal;
    outline: 3px solid green;
}

a {
    color:white;
    text-align:center;
    border:2px solid black;
    background:gray;
    outline: 3px solid purple;

}
.footerStyle{
    font-family: calibri;
    color:white;
    text-align:center;
    outline: 3px solid pink;

}
.facebook{
    background-color:gray;
    outline: 3px solid orange;
    position: relative;
    float:right;
}
/*mainTruck {
    position: */

