fonts/Work_Sans/WorkSans-Italic-VariableFont_wght.ttf
fonts/Work_Sans/WorkSans-VariableFont_wght.ttf
fonts/Work_Sans/static/WorkSans-BlackItalic.ttf
fonts/Work_Sans/static/WorkSans-ThinItalic.ttf
fonts/Work_Sans/static/WorkSans-Thin.ttf
fonts/Work_Sans/static/WorkSans-SemiBoldItalic.ttf
fonts/Work_Sans/static/WorkSans-Regular.ttf
fonts/Work_Sans/static/WorkSans-MediumItalic.ttf
fonts/Work_Sans/static/WorkSans-Medium.ttf
fonts/Work_Sans/static/WorkSans-LightItalic.ttf
fonts/Work_Sans/static/WorkSans-Italic.ttf
fonts/Work_Sans/static/WorkSans-ExtraLightItalic.ttf
fonts/Work_Sans/static/WorkSans-ExtraLight.ttf
fonts/Work_Sans/static/WorkSans-ExtraBold.ttf
fonts/Work_Sans/static/WorkSans-BoldItalic.ttf
fonts/Work_Sans/static/WorkSans-Bold.ttf
fonts/Work_Sans/static/WorkSans-Light.ttf
